{% extends 'utils/base/html_base.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}

    {% if settings.UTILS.fallback %}
        <style type="text/css">
            #overlay {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background:
                    white
                    url({% static 'utils/imgs/ajax-loader.gif' %})
                    no-repeat
                    center
                ;
                z-index: 1031; {# above bootstrap static navbar #}
            }
        </style>
    {% endif %}
{% endblock %}

{% block head_scripts %}
    {{ block.super }}

    {% if settings.UTILS.fallback %}
        {# fallback js #}
        <script async src="//cdnjs.cloudflare.com/ajax/libs/fallback/{{ utils_settings.VERSIONS.fallback_js }}/fallback.min.js" type="text/javascript" onload="load_fallback();" onerror="fallback_fallback();"></script>
        <script type="text/javascript">
            function fallback_fallback() {
                if (typeof fallback === 'undefined') {
                    var fallback_script = document.createElement('script');
                    fallback_script.type = "text/javascript";
                    fallback_script.src = "{% static 'utils/js/fallback.min.js' %}";
                    fallback_script.onload = load_fallback; // IE 8+
                    fallback_script.onerror = function() {
                        window.alert(
                            'Failed to load required resource (FallbackJS), please refresh the page or contact an administrator ('
                            {% for admin in settings.ADMINS %}
                                + '{{ admin.1 }}'
                            {% endfor %}
                            + ')'
                        );
                    }
                    var head = document.head; // IE 9+
                    head.appendChild(fallback_script);
                }
            }

            function load_fallback() {
                fallback.load(
                    // css/js
                    {
                        {% block fallback_load %}
                            /*
                                css
                                key/str: list of str/str

                                js
                                THE KEY MUST BE THE LIBRARIES WINDOW VARIABLE!
                                key/str: list of str/str
                            */
                        {% endblock %}
                    },
                    // options
                    {
                        shim: {
                            {% block fallback_shim %}
                                // key/str: list of str
                            {% endblock %}
                        }
                    }
                );

                /*
                    fallback.ready(['jQuery'], function() {
                    });
                */

                {% if settings.UTILS.bootstrap3 %}
                    fallback.ready(['bootstrap_css'], function() {
                        var overlay = document.getElementById('overlay');
                        overlay.style.display = 'none';
                    });
                {% endif %}

                fallback.ready(function() {
                    var overlay = document.getElementById('overlay');
                    overlay.style.display = 'none';

                    {% block fallback_ready %}
                        // internal js
                    {% endblock %}
                });
            }
        </script>
    {% endif %}
{% endblock head_scripts %}
