{% load template_utils %}

{% get_app_settings 'utils' as utils_settings %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta charset="utf-8" />

            <meta name="author" content="Antyc Solutions" />
        {% endblock %}

        {% block head %}{% endblock %}

        {% block styles %}{% endblock %}

        {% block head_scripts %}{% endblock %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        {% if settings.UTILS.fallback %}
            <div id='overlay'></div>
        {% endif %}

        {% block body %}{% endblock %}

        <noscript>
            Your browser does not support JavaScript!
        </noscript>

        {% block body_scripts %}{% endblock %}

        {# browser update warning #}
        <script type="text/javascript">
            var $buoop = { c: 2 };
            function $buo_f() {
                var e = document.createElement("script");
                e.src = "//browser-update.org/update.min.js";
                document.body.appendChild(e);
            };
            try {
                document.addEventListener("DOMContentLoaded", $buo_f,false);
            }
            catch(e)
            {
                window.attachEvent("onload", $buo_f);
            }
        </script>
    </body>
</html>
