{% extends 'utils/base/bootstrap.html' %}

{% load static %}

{% if utils_settings.BASE.fallback %}
    <script type="text/javascript">
        {% block fallback_load %}
            {{ block.super }}

            {% if utils_settings.BASE.font_awesome %}
                font_awesome_css: [
                    'https://maxcdn.bootstrapcdn.com/font-awesome/{{ utils_settings.VERSIONS.font_awesome_css }}/css/font-awesome.min.css',
                    "{% static 'utils/css/font-awesome.min.css' %}"
                ],
            {% endif %}

            {% if utils_settings.BASE.jquery_ui %}
                jquery_ui_smoothness_css: [
                    'https://code.jquery.com/ui/{{ utils_settings.VERSIONS.jquery_ui_css }}/themes/smoothness/jquery-ui.min.css',
                    "{% static 'utils/css/jquery-ui.min.css' %}"
                ],

                'jQuery.ui': [
                    'https://code.jquery.com/ui/{{ utils_settings.VERSIONS.jquery_ui_js }}/jquery-ui.min.js',
                    "{% static 'utils/js/jquery-ui.min.js' %}"
                ],
            {% endif %}

            {% if lazy %}
                'jQuery.fn.lazy': [
                    'https://cdn.jsdelivr.net/jquery.lazy/{{ utils_settings.VERSIONS.jquery_lazy_js }}/jquery.lazy.min.js',
                    "{% static 'utils/js/jquery.lazy.min.js' %}"
                ],
            {% endif %}
        {% endblock %}

        {% block fallback_shim %}
            {{ block.super }}

            {% if utils_settings.BASE.jquery_ui %}
                'jQuery.ui': ['jQuery'],
            {% endif %}
            {% if lazy %}
                'jQuery.fn.lazy': ['jQuery'],
            {% endif %}
        {% endblock %}

        {% block fallback_ready %}
            {{ block.super }}

            {% if lazy %}
                $(document).ready(function() {
                    $("img.lazy").lazy();
                });
            {% endif %}
        {% endblock %}
    </script>
{% else %}
    {# TODO: handle non-fallback #}
{% endif %}
