{% extends utils_settings.GENERICS.base_template %}

{% load static %}
{% load field_utils %}
{% load template_utils %}
{% load pipeline %}
{% load fallback_tags %}

{% block title %} - Create {{ model_name|title }}{% endblock %}

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        {% if autocomplete %}
            ajax_select_css: "{% static 'ajax_select/css/ajax_select.css' %}",
        {% endif %}

        {% if css_url %}
            {% if settings.UTILS.pipeline %}
                {% stylesheet css_url %}
            {% else %}
                css_url: '{{ css_url }}',
            {% endif %}
        {% endif %}

        {% if js_url %}
            {% if settings.UTILS.pipeline %}
                {% javascript js_url %}
            {% else %}
                js_url: '{{ js_url }}',
            {% endif %}
        {% endif %}

        {% with css_dict=form.media|get_attr:"_css" %}
            {% for key, css_list in css_dict.items %}
                // {{ key }}
                {% for css in css_list %}
                    'media_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}_css': "{% static css %}",
                {% endfor %}
            {% endfor %}
        {% endwith %}

        {% for js in form.media|get_attr:"_js" %}
            'media_{{ forloop.counter0 }}_js': "{% static js %}",
        {% endfor %}

        {% if autocomplete %}
            'jQuery.fn.autocompleteselect': [
                "{% static 'ajax_select/js/ajax_select.js' %}"
            ],
        {% endif %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_shim %}
        {{ block.super }}

        {% if css_url %}
            {% if settings.UTILS.pipeline %}
                {% pipeline_css_shim css_url 'bootstrap_css' %}
            {% else %}
                css_url: 'bootstrap_css',
            {% endif %}
        {% endif %}

        {% if js_url %}
            {% if settings.UTILS.pipeline %}
                {% pipeline_js_shim js_url 'jQuery' %}
            {% else %}
                js_url: 'jQuery',
            {% endif %}
        {% endif %}

        {% for js in form.media|get_attr:"_js" %}
            'media_{{ forloop.counter0 }}_js': ['jQuery.fn.modal'],
        {% endfor %}

        {% if autocomplete %}
            'jQuery.fn.autocompleteselect': ['jQuery.ui'],
        {% endif %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_ready %}
        {{ block.super }}

        {% now 'Y' as current_year %}
        var year_range = "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}";

        $(document).ready(function() {
            var options = {
                format: '{{ settings.UTILS.GENERICS.date_format }}',
                autoclose: true,
                todayHighlight: true,
                clearBtn: true,
                startDate: '-100y',
                zIndexOffset: 1030,
            };
            $('.input-group.date').datepicker(options);

            var prefix = "{{ formset.get_default_prefix }}";

            // Original html value does not match
            var total_forms = $('#id_' + prefix + '-TOTAL_FORMS');
            total_forms.val({{ formset.total_form_count }});

            var empty_form_prefix = "{{ formset.empty_form.prefix }}";
            var update_prefix = function(children, prefix) {
                for (var i = 0; i < children.length; ++i) {
                    var child = children[i];
                    var attributes = child.attributes;
                    for (var k = 0; k < attributes.length; ++k) {
                        var attribute = attributes[k];
                        var re = new RegExp(empty_form_prefix);
                        var value = attribute.value.replace(re, prefix);
                        attribute.value = value;
                    }

                    update_prefix(child.children, prefix);
                }
            };

            window.generic_template = window.generic_template || {};

            $('#add_form').click(function() {
                var form_count = $('#id_' + prefix + '-TOTAL_FORMS').val();
                var form = document.getElementById(
                    '{{ inline_model_name }}_empty_form'
                ).cloneNode(true);
                form.removeAttribute('id');
                form.style.display = '';
                var children = form.children;
                var inline_prefix = empty_form_prefix.replace(
                    /__prefix__/, form_count
                );
                update_prefix(children, inline_prefix);

                dp = $(form).find('.input-group.date');
                // need to apply again, probably because it's cloned
                dp.removeClass('hasDatepicker');
                dp.datepicker(options);

                if (typeof formset_add_form_callback === 'function') {
                    formset_add_form_callback($(form), form_count);
                }

                // one parent is col, second parent is form-group
                $(form).insertBefore($('#add_form').parent().parent());
                $('#id_' + prefix + '-TOTAL_FORMS').val(
                    parseInt(form_count) + 1
                );
            });

            {% for form in formset %}
                if ($.isFunction(generic_template.formset_add_form_callback)) {
                    generic_template.formset_add_form_callback(
                        $('#{{ forloop.counter0 }}_{{ inline_model_name|slugify }}_form'),
                        {{ forloop.counter0 }}
                    );
                }
            {% endfor %}

            {# file input formatting #}
            $('<br />').insertBefore('.btn-file input[type=checkbox]');
            $('.btn-file label').css('margin-bottom', '0px');

            if ($.isFunction(generic_template.form_callback)) {
                generic_template.form_callback(
                    $('#create_{{ model_name|slugify }}_form')
                );
            }
        });
    {% endblock %}
</script>

{% block content %}

    <h1>
        Create {{ model_name|title }}
    </h1>

    {% include 'utils/snippets/messages.html' %}

    <form id="create_{{ model_name|slugify }}_form"
            class="form-horizontal" method="POST" >
        {% csrf_token %}
        <div class="row">
            <fieldset class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-3 control-label">
                        <h5>
                            {{ model_name|title }}
                        </h5>
                    </label>
                </div>
                {% include 'utils/generics/form.html' %}
            </fieldset>
            {% if formset %}
                <fieldset class="col-lg-6">
                    <div class="form-group">
                        <h5 class="col-lg-3" style="text-align: right;">
                            {{ inline_model_name_plural|title }}
                        </h5>
                    </div>
                    {{ formset.management_form }}
                    {{ formset.non_form_errors }}
                    {% for form in formset %}
                        <div id="{{ forloop.counter0 }}_{{ inline_model_name|slugify }}_form">
                            {% if not inline %}
                                {% include 'utils/generics/form.html' with hide_required_msg=True %}
                                {% if not forloop.last %}
                                    <hr />
                                {% endif %}
                            {% else %}
                                {{ form.non_field_errors }}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden.errors }}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    {% if inline %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        <div class="col-lg-10">
                                            {{ field.label_tag }} {{ field }}
                                        </div>
                                    </div>
                                    {% else %}
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                    {% endif %}
                                {% endfor %}
                                <br />
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <a href="javascript:void(0)" id="add_form" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Add another {{ inline_model_name|title }}
                            </a>
                        </div>
                    </div>
                </fieldset>
                <div id="{{ inline_model_name }}_empty_form" style="display: none;">
                    <hr />
                    {% include 'utils/generics/form.html' with form=formset.empty_form %}
                </div>
            {% else %}
                <div class="col-lg-6"></div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary inline" name="submit">
                            Create
                        </button>
                        <a href="{{ cancel_url }}" class="btn btn-default">
                            Cancel
                        </a>
                        {{ multistep_buttons }}
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
