{% extends utils_settings.GENERICS.base_template %}

{% block title %} - {% if title %}{{ title }}{% else %}Delete {{ model_name|title }}{% endif %}{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>
            {% if title %}
                {{ title }}
            {% else %}
                Delete {{ model_name|title }}
            {% endif %}
        </h2>
    </div>

    {% include 'utils/snippets/messages.html' %}

    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="row">
            <fieldset class="col-lg-6">
                <div class="form-group">
                    <p class="col-lg-12">
                        Are you sure you want to delete "{{ object }}"?
                    </p>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-danger inline" name="submit">
                            Confirm
                        </button>
                        <a href="{{ cancel_url|default:object.get_absolute_url }}"
                            class="btn btn-default"
                            >
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
