{% extends utils_settings.GENERICS.base_template %}

{% load field_utils %}
{% load verbose_name %}

{% block title %} - {% if title %}{{ title }}{% else %}{{ model_name|title }}{% endif %}{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>
            {% if title %}
                {{ title }}
            {% else %}
                {{ model_name|title }}
            {% endif %}
        </h2>
    </div>

    {% include 'utils/snippets/messages.html' %}

    <style type="text/css">
        .form-horizontal .form-group {
            margin-bottom: 0;
        }
        .form-horizontal .control-label, .form-control-static {
            padding-top: 0;
            padding-bottom: 0;
        }
    </style>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left" style="padding-top: 7.5px;">
                Information
            </div>
            <div class="btn-group pull-right">
                {% with model_name.split|join:'_' as model %}
                    <a href="{% url app|add:model|add:'_update' object.pk %}" class="btn btn-default">
                        Update
                    </a>
                    <a href="{% url app|add:model|add:'_delete' object.pk %}" class="btn btn-danger">
                        Delete
                    </a>
                {% endwith %}
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <div class="form-horizontal">
                    {% for name, field_value in object.get_all_fields.items %}
                        {% if name == 'id' or name in hidden_fields %}
                            {# Skip ID #}
                        {% elif field_value.field|is_image %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">
                                    {% verbose_field_name object name %}
                                </label>
                                <div class="col-lg-8">
                                    <p class="form-control-static">
                                        {% if field_value.value %}
                                            <a href="{{ field_value.value.url }}">
                                                <img class="lazy img-responsive" width="256px" data-src="{% url 'get_thumbnail' 256 256 field_value.value.url|urlencode:"" %}" />
                                            </a>
                                        {% else %}
                                            {# No Image #}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% elif field_value.field|is_foreignkey %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">
                                    {% verbose_field_name object name %}
                                </label>
                                <div class="col-lg-8">
                                    <p class="form-control-static">
                                        {% with url=field_value.value.get_absolute_url value=field_value.value.get_str %}
                                            {% if url %}
                                                <a href="{{ url }}">
                                                    {% firstof value field_value.value %}
                                                </a>
                                            {% else %}
                                                {% firstof value field_value.value %}
                                            {% endif %}
                                        {% endwith %}
                                    </p>
                                </div>
                            </div>
                        {% elif field_value.field|is_fileset %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">
                                    {% verbose_field_name object name %}
                                </label>
                                <div class="col-lg-8">
                                    <ol class="form-control-static">
                                        {% for model_attachment in field_value.value.all %}
                                            <li>
                                                <a href="{{ model_attachment.attachment.url }}">
                                                    {{ model_attachment.attachment }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        {% elif name in object.money_fields %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">
                                    {% verbose_field_name object name %}
                                </label>
                                <div class="col-lg-8">
                                    <p class="form-control-static">
                                        ${{ field_value.value }}
                                    </p>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label class="col-lg-4 control-label">
                                    {% verbose_field_name object name %}
                                </label>
                                <div class="col-lg-8">
                                    <p class="form-control-static">
                                        {{ field_value.value }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-12 control-label" style="text-align: left;">
                            {{ inline_model_name|title }}
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped" style="width: auto;">
                                    {% for inline in inline_set %}
                                        {% if forloop.first %}
                                            <thead>
                                                <tr>
                                                    {% for name, field_value in inline.get_all_fields.items %}
                                                        {% if name == "id" %}
                                                            {# Skip ID #}
                                                        {% elif field_value.value == object %}
                                                            {# Skip object #}
                                                        {% else %}
                                                            <th>
                                                                {{ field_value.field.verbose_name|title }}
                                                            </th>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            {# strange formatting is intentional #}
                                            <tbody>
                                        {% endif %}
                                                <tr>
                                                    {% for name, field_value in inline.get_all_fields.items %}
                                                        {% if name == "id" %}
                                                            {# Skip ID #}
                                                        {% elif field_value.value == object %}
                                                            {# Skip object #}
                                                        {% elif name in object.money_fields %}
                                                            <td>
                                                                ${{ field_value.value }}
                                                        {% else %}
                                                            <td>
                                                                {{ field_value.value }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                        {% if forloop.last %}
                                            </tbody>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block extra_body %}{% endblock %}
        </div>
        {% if footer_buttons %}
            <div class="panel-footer">
                <div class="btn-group">
                    {% for button in footer_buttons %}
                        <a href="{{ button.url }}" class="btn btn-default">
                            {{ button.text }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    {% block after_content %}{% endblock %}

{% endblock %}
