{% load field_utils %}

<div class="table-responsive">
    <table class="table table-striped">
        {% for object in object_list %}
            {% if forloop.first %}
                <thead>
                    <tr>
                        {% for name, field_value in object.get_all_fields.items %}
                            {% if name in hidden_fields %}
                                <!-- empty -->
                            {% elif name == "id" %}
                                <th></th>
                            {% elif field_value.field|is_textfield %}
                                <th style="width: 30%;">
                                    {{ field_value.field.verbose_name|capfirst }}
                                </th>
                            {% elif field_value.field|is_btn %}
                                <th></th>
                            {% else %}
                                <th>
                                    {{ field_value.field.verbose_name|capfirst }}
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <!-- strange formatting is intentional -->
                <tbody>
            {% endif %}
                    <tr>
                        {% for name, field_value in object.get_all_fields.items %}
                            {% if name in hidden_fields %}
                                <!-- empty -->
                            {% elif field_value.field.name == "id" %}
                                <style style="text/css">
                                    .crud:not(:last-child) {
                                        width: 75px;
                                        margin-bottom: 5px;
                                    }
                                    .crud:last-child {
                                        width: 75px;
                                    }
                                </style>
                                <td style="width: 91px;"><!-- from computed when width < 91 -->
                                    {% if not disable_detail %}
                                        <a href="{% url model_name|add:'_detail' field_value.value %}"
                                                class="btn btn-info crud">
                                            View
                                        </a>
                                        <br />
                                    {% endif %}
                                    {% if not disable_update %}
                                        <a href="{% url model_name|add:'_update' field_value.value %}"
                                                class="btn btn-default crud">
                                            Update
                                        </a>
                                        <br />
                                    {% endif %}
                                    {% if not disable_delete %}
                                        <a href="{% url model_name|add:'_delete' field_value.value %}"
                                                class="btn btn-danger crud">
                                            Delete
                                        </a>
                                    {% endif %}
                                </td>
                            {% elif field_value.field|is_image %}
                                <td>
                                    {% if field_value.value %}
                                        <a href="{{ field_value.value.url }}">
                                            <img class="lazy" width="128px" data-src="{% url 'get_thumbnail' 128 128 field_value.value.url|urlencode:"" %}" />
                                        </a>
                                    {% else %}
                                        <!-- No Image -->
                                    {% endif %}
                                </td>
                            {% elif field_value.field|is_foreignkey %}
                                <td>
                                    {% with url=field_value.value.get_absolute_url value=field_value.value.get_str %}
                                        {% if url %}
                                            <a href="{{ url }}">
                                                {% firstof value field_value.value %}
                                            </a>
                                        {% else %}
                                            {% firstof value field_value.value %}
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            {% elif field_value.field|is_textfield %}
                                <td style="width: 30%;">
                                    {{ field_value.value }}
                                </td>
                            {% elif name in object.money_fields %}
                                <td>
                                    ${{ field_value.value }}
                                </td>
                            {% elif field_value.field|is_btn %}
                                <td>
                                    <button type="button"
                                            class="btn btn-default"
                                            data-toggle="modal"
                                            data-target="#{{ model_name }}_modal"
                                            data-pk="{{ object.pk }}"
                                            data-model-name="{{ model_name }}">
                                        {{ field_value.field.verbose_name }}
                                    </button>
                                </td>
                            {% else %}
                                <td id="{{ model_name }}_{{ object.pk }}_{{ name }}">
                                    {{ field_value.value }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {# incomplete #}
                    {% comment %}
                    {% if object.get_inline %}
                        {% with inline=object.get_inline %}
                            <tr>
                                <td><ul class="pull-right"><li>{{ inline.name }}</li></ul></td>
                                <td>
                                    <div class="pull-left">
                                        <table class="table" style="display: inline-block;">
                                            {% if forloop.first %}
                                                <thead>
                                                    <tr>
                                                        {% for name, field_value in inline.get_all_fields.items %}
                                                            {% if name == "id" %}
                                                                <th></th>
                                                            {% else %}
                                                                <th>{{ field_value.field.verbose_name }}</th>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                            {% endif %}
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endif %}
                    {% endcomment %}
            {% if forloop.last %}
                </tbody>
            {% endif %}
        {% endfor %}
    </table>
</div>
