{% extends utils_settings.GENERICS.base_template %}

{% load pipeline %}
{% load fallback_tags %}

{% block title %} - {{ model_name_plural|title }}{% endblock %}

<script type="text/javascript">
    {% block fallback_load %}
        {{ block.super }}

        {% if css_url %}
            {% if settings.UTILS.pipeline %}
                {% stylesheet css_url %}
            {% else %}
                css_url: '{{ css_url }}',
            {% endif %}
        {% endif %}
    {% endblock %}
</script>

<script type="text/javascript">
    {% block fallback_shim %}
        {{ block.super }}

        {% if css_url %}
            {% if settings.UTILS.pipeline %}
                {% pipeline_css_shim css_url 'bootstrap_css' %}
            {% else %}
                css_url: 'bootstrap_css',
            {% endif %}
        {% endif %}
    {% endblock %}
</script>

{% if datesearch %}
    <script type="text/javascript">
        {% block fallback_ready %}
            {{ block.super }}

            {% now 'Y' as current_year %}
            var year_range = "{{ current_year|add:"-100" }}:{{ current_year|add:"5" }}";

            $(document).ready(function() {
                var options = {
                    format: 'M. d, yyyy',
                    autoclose: true,
                    todayHighlight: true,
                    clearBtn: true,
                    startDate: '-100y',
                    zIndexOffset: 1030,
                }
                $('.input-group.date').datepicker(options);
            });
        {% endblock %}
    </script>
{% endif %}

{% block content %}

    <h1>{{ model_name_plural|title }}</h1>

    {% include 'utils/snippets/messages.html' %}

    {% if not disable_create %}
        <div>
            {% for create in create_list %}
                <a href="{{ create.url }}" class="btn btn-primary inline">
                    Create {{ create.indefinite_article }} {{ create.model_name|title }}
                </a>
            {% empty %}
                <a href="{% url model_name|add:'_create' %}" class="btn btn-primary">
                    Create {{ indefinite_article }} {{ model_name|title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <br>

    <form method="GET" class="form-inline">
        {% if search %}
            <div class="form-group inline">
                <input type="text" class="form-control search-query" name="q" placeholder="{{ model_name|title }} Search" value="{{ q }}" autofocus>
            </div>
        {% endif %}
        {% for name, select in selects.items %}
            <div class="form-group inline">
                <label for="{{ name }}" class="control-label inline">
                    {{ select.label }}:
                </label>
                <select id="{{ name }}" name="{{ name }}" class="form-control">
                    <option value="">---------</option>
                    {% for option in select.options %}
                        <option value="{{ option.value }}"{% if option.selected %} selected="selected"{% endif %}>
                            {{ option.value_display }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        {% if datesearch %}
            <div class="form-group inline">
                <div class="input-group date">
                    <input type="text"
                        id="dateFromSearchBox"
                        class="form-control search-query"
                        name="df"
                        placeholder="Date from"
                        value="{{ df }}"
                        >
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-group inline">
                <div class="input-group date">
                    <input type="text"
                    id="dateToSearchBox"
                    class="form-control search-query"
                    name="dt"
                    placeholder="Date to"
                    value="{{ dt }}"
                    >
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if search or datesearch or selects %}
            <button type="submit" class="btn">
                Search
            </button>
        {% endif %}
    </form>

    <br>

    {% block prelist %}{% endblock %}

    {% if object_list %}
        {% include 'utils/generics/list_table.html' %}
    {% elif q %}
        <p>
            There are no {{ model_name_plural|title }} for this search.
        </p>
        <br>
    {% else %}
        <p>
            There are no {{ model_name_plural|title }} currenty.
        </p>
        <br>
    {% endif %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}{% for name, select in selects.items %}&{{ name }}={% for option in select.options %}{% if option.selected %}{{ option.value }}{% endif %}{% endfor %}{% endfor %}{% if df %}&df={{ df }}{% endif %}{% if dt %}&dt={{ dt }}{% endif %}" class="btn btn-default">
                        Previous
                    </a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}{% for name, select in selects.items %}&{{ name }}={% for option in select.options %}{% if option.selected %}{{ option.value }}{% endif %}{% endfor %}{% endfor %}{% if df %}&df={{ df }}{% endif %}{% if dt %}&dt={{ dt }}{% endif %}" class="btn btn-default inline">
                        Next
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    {% if is_rows_per_page %}
        <form method="GET" class="form-inline" style="display: inline-block;">
            {% if q %}
                <input type="hidden" name="q" value="{{ q }}">
            {% endif %}
            {% for name, select in selects.items %}
                {% for option in select.options %}
                    {% if option.selected %}
                        <input type="hidden" name="{{ name }}" value="{{ option.value }}">
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if df %}
                <input type="hidden" name="df" value="{{ df }}">
            {% endif %}
            {% if dt %}
                <input type="hidden" name="dt" value="{{ dt }}">
            {% endif %}
            <div class="form-group">
                Rows per Page: <input type="number" id="rows_per_page" name="rows_per_page" class="form-control" value="{{ rows_per_page }}">
            </div>
            <button type="submit" class="btn">
                Paginate
            </button>
        </form>
    {% endif %}

    {% if not is_paginated %}
        <br>
    {% endif %}

    <br>

{% endblock %}
