{% load field_utils %}

<table class="table table-striped table-cover">
    {% for object in object_list %}
        {% if forloop.first %}
            <thead>
                <tr>
                    {% for name, field_value in object.get_all_fields.items %}
                        {% if name == "id" %}
                            <th></th>
                        {% else %}
                            <th>{{ field_value.field.verbose_name }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
        {% endif %}
                <tr>
                    {% for name, field_value in object.get_all_fields.items %}
                        {% if field_value.field.name == "id" %}
                            <style>
                                .crud {
                                    width: 75px;
                                }
                                .crud-margin {
                                    margin-bottom: 5px;
                                }
                            </style>
                            <td>
                                <a href="{% url model_name|add:'_detail' field_value.value %}"><button type="button" class="btn btn-info crud crud-margin">View</button></a><br />
                                <a href="{% url model_name|add:'_update' field_value.value %}" class="btn btn-default crud crud-margin">Update</a><br />
                                <a href="{% url model_name|add:'_delete' field_value.value %}" class="btn btn-default crud">Delete</a>
                            </td>
                        {% elif field_value.field|get_model_field_type|is_image %}
                            <td>
                                {% if field_value.value %}
                                    <a href="{{ field_value.value.url }}"><img class="lazy" width="128px" data-src="{% url 'get_thumbnail' 128 128 field_value.value.url|urlencode:"" %}" /></a>
                                {% else %}
                                    <!-- No Image -->
                                {% endif %}
                            </td>
                        {% elif field_value.field|get_model_field_type|is_foreignkey %}
                            <td>
                                {% if field_value.value.get_absolute_url %}
                                    <a href="{{ field_value.value.get_absolute_url }}">{{ field_value.value }}</a>
                                {% else %}
                                    {{ field_value.value }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td>{{ field_value.value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {# incomplete #}
                {% comment %}
                {% if object.get_inline %}
                    {% with inline=object.get_inline %}
                        <tr>
                            <td><ul class="pull-right"><li>{{ inline.name }}</li></ul></td>
                            <td>
                                <div class="pull-left">
                                    <table class="table" style="display: inline-block;">
                                        {% if forloop.first %}
                                            <thead>
                                                <tr>
                                                    {% for name, field_value in inline.get_all_fields.items %}
                                                        {% if name == "id" %}
                                                            <th></th>
                                                        {% else %}
                                                            <th>{{ field_value.field.verbose_name }}</th>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                        {% endif %}
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    {% endwith %}
                {% endif %}
                {% endcomment %}
        {% if forloop.last %}
            </tbody>
        {% endif %}
    {% endfor %}
</table>
